/*starts content on left of screen, makes body a container, makes body a column*/
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*doesn't work yet*/
.root {
    --dark: #2d2db9;
    --white: #fff;
    --light: #9c8beb;
    --big-space: 20px;
    --small-space: 10px;
}

/*displays color of background of header, creates size of header, and text color.*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9c8beb;
    color: #fff;
    width: 100%;
    padding: 1%;
}

/*font size of "Leonardo Roccaforte"*/
header h1 {
    font-size: 32px;
}

/*shows "portfolio" after "Leonardo Roccaforte" with format*/
header h1::after {
    content: "PORTFOLIO";
    font-size: 32px;
    color: #3838c5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*formats buttons in header*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
}

/*changes all buttons when hovered over*/
a:hover {
    background-color: #2d2db9;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
}

/*changes all buttons when clicked and held or tabbed; when in focus*/
a:focus {
    background-color: #1e1e79;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
}

/*displays all buttons when not in use*/
.navbar {
    background-color: #9c8beb;
    color: white;
    border-radius: 25px;
    margin: 2px;
}

/*positions cards and gives padding*/
#cards {
    display: flex;
    flex-direction: row; /*column*/
    justify-content: space-between; /*flex-end*/
    align-items: flex-start; /*flex-end*/
    flex-wrap: wrap;
    padding: 25px;
    border-radius: 25px;
    max-width: -25%;
}

/*positions image at top of page*/
#jumbotronimage {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

/*formats big purple text boxes; jumbotrons*/
.jumbotron {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #9c8beb;
    border-radius: 50px;
    /* max-width: 75%;*/
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*displays color of background of footer, creates size of footer, and text color.*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9c8beb;
    color: #fff;
    width: 100%;
    padding: 1%;
}

/*displays "PORTFOLIO" in footer*/
footer::after {
    content: "PORTFOLIO";
    font-size: 32px;
    color: #3838c5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* Tablets*/
@media screen and (max-width: 992px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Large smartphones*/
@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Small smartphones*/
@media screen and (max-width: 576px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}